{% extends "core/base.html" %}
{% block navbar %}
{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
    
    <div class="container">
        <br>
        <br>
        <center><h2>Inicio de sesion</h2></center>
        <div class="row">
        <br>
        <br> 
            <form method="post" style="margin: auto; width: 220px;">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Ingresar" class="btn btn-success float-right">            
                </div>
                <br>
                <div class="form-group">
                    <a href="#">Quiero registrarme 😊</a>
                </div>
                <div class="form-group">
                    <a href="#">¿Olvido su Contraseña?</a>
                </div>
            </form>    
        </div>
    </div>
</div>

{% endblock contenido %}