{% extends "core/base.html" %}
{% block contenido %}


<!-- <script>
    $(function(){
            $("#form_buscar").on('submit',function(){
                var formData = new FormData(this);
                $.ajax({
                    url: "{% url 'post_buscar' %}",
                    type:"POST",
                    data: formData,
                    processData: false,
                    contentType:false,
                    success: function(respuesta){
                        $("#nombre").val(respuesta.nombre);
                        $("#stock_disponible").val(respuesta.stock);
                        $("#precio").val(respuesta.precio);
                        $("#codigo_oculto").val(respuesta.codigo);
                        $("#autor").val(respuesta.autor);
                        $("#vigencia").val(respuesta.vigencia);
                    }
                });
                
                return false;
    
            });
    
    });        
    
</script> -->
<script>
    $(function(){
            $("#form_buscar").on('submit',function(){
                var formData = new FormData(this);
                $.ajax({
                    url: "{% url 'post_buscar' %}",
                    type:"POST",
                    data: formData,
                    processData: false,
                    contentType:false,
                    success: function(respuesta){
                        $("#id_producto").val(respuesta.id_producto);
                        $("#nombre").val(respuesta.nombre);
                        $("#tipo").val(respuesta.tipo);
                        $("#descripcion").val(respuesta.descripcion);
                        $("#precio").val(respuesta.precio);
                        $("#stock").val(respuesta.stock);
                        $("#estado").val(respuesta.estado);
                    }
                });
                
                return false;
    
            });
            $("#form_actualizar").on('submit',function(){
            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'post_actualizar' %}",
                type:"POST",
                data: formData,
                processData: false,
                contentType:false,
                success: function(respuesta){
                    var mensaje = respuesta.mensaje;
                    if(mensaje)
                        alert("Datos actualizados");
                    else        
                        alert("Error al actualizar");
                }
            });
            
            return false;

        });
    
    });        
    
</script>
    
    <h3>Consumo Cliente</h3>

    <div class="container">
        <h3>Formulario -Consulta</h3>
        <form class="row g-3" method="post" id="form_buscar">
            {% csrf_token %}  
                <div class="col-auto">  
                    <span class="input-group-text">Ingrese código producto: </span>
                </div>    
                <div class="col-auto">
                    <input class="form-control" type="text" name="codigo" id="codigo">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Consultar producto</button>
                </div>        
        </form>
    </div>

    <br>

    <div class="container">
        <form  class="row g-3" method="post" id="form_actualizar">
        {% csrf_token %}
        
            <div class="col-auto">
                    <span class="input-group-text">Nombre producto: </span>
                    <input type="text" name="nombre" id="nombre" readonly>
                    <span>Tipo producto: </span>
                    <input type="text" name="tipo" id="tipo" readonly>
            </div>
            <div class="col-auto"> 
                    <span>descripcion: </span>
                    <input type="text" name="descripcion" id="descripcion" readonly>
            </div>
            <div class="col-auto">          
                    <span>precio: </span>
                    <input type="text" name="precio" id="precio" readonly>
                    <span>stock: </span>
                    <input type="text" name="stock" id="stock" readonly>
            <div class="col-auto">        
                    <span>Id Producto: </span>
            </div>        
            <div class="col-auto">        
                    <input type="text" name="id_producto" id="id_producto" readonly>
            </div>        
            </div>     
                <br>
            <div>    
                <div>    
                    <button type="submit"  class="btn btn-primary">Ingresar  </button>
                    <button type="submit"  class="btn btn-success">Actualizar</button>
                </div>
                <br>
            </div>    

        </form>
    </div>    

    



<h3>{{mensaje}}</h3>



<table id="tabla_datos" data-toggle="table" data-sort-name="stargazers_count"
data-sort-order="desc"
data-pagination="true"
data-height="460"
data-unique-id="codigo_id"
data-search="true">
<thead class="thead-inverse">
   <th data-field="codigo_id">Código </th>     
   <th data-field="nombre">Nombre producto </th> 
   <th data-field="tipo"> tipo producto </th>  
   <th data-field="descripcion">descripcion </th> 
   <th data-field="precio">Precio </th>  
   <th data-field="stock">Stock  </th>  
   <th data-field="estado">estado </th>  
     
</thead>
<tbody>

        {% for p in lista %}
        <tr>
            <td>{{p.id_producto}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.tipo}}</td>
            <td>{{p.descripcion}}</td>
            <td>{{p.precio}}</td>
            <td>{{p.stock}}</td>
            <td>{{p.estado}}</td>
        </tr>
        {% endfor %}
</tbody>

</table>
{% endblock contenido %}